<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digiarty.phoneassistant">

    <!--receiver声明权限，表示可以接收这个权限的广播-->
    <uses-permission android:name="com.digiarty.phoneassistant.permission.receive_broadcast" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <receiver android:name=".MyBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="digiarty.phoneassistant.startservice.broadcast"/>
            </intent-filter>
        </receiver>

        <!--exported = false 禁止其他应用开启服务-->
        <service
            android:exported="false"
            android:name=".MyService">
            <intent-filter>
                <action android:name="digiarty.phoneassistant.service.createsocket"/>
            </intent-filter>
        </service>
    </application>
</manifest>
